# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/out-tsc
/bazel-out
tmp

# Dot files
.*

# Node
node_modules

# IDEs and editors
*.launch
*.sublime-workspace

# Miscellaneous
/connect.lock
/coverage
/typings

# System files
*.db
*.log

# Exceptions
!.editorconfig
!.eslintrc*
!.github
!.gitignore
!.nvmrc
!.prettierrc*
!.stylelintrc*
!.vscode
