:host {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 1rem;
  position: sticky;
  top: 0;
  width: 100%;

  h1 {
    margin: 0;

    a {
      color: white;
    }
  }
}
