<form
  *ngIf="cartItem; else elseBlock"
  class="product clear-left"
  itemscope
  itemtype="https://schema.org/Product"
>
  <legend class="font-bold mb-4" itemprop="name">
    {{ formatProductTitle(cartItem.product) }}
  </legend>
  <meta property="priceCurrency" [content]="getCurrency()" />
  <img
    alt="Product image"
    class="h-28 object-cover float-left mb-8 mr-4 rounded-md w-28"
    i18n-alt="product-image"
    itemprop="image"
    [src]="cartItem.product.thumbnail"
  />
  <label class="flex gap-4 items-center">
    <span class="block" i18n="amount-label">Amount</span>
    <select
      class="select w-14"
      (change)="handleAmountChange($event, cartItem.product)"
    >
      <option
        *ngFor="let amount of productAmounts(cartItem.product)"
        [selected]="cartItem.amount === amount"
        [value]="amount"
      >
        {{ amount }}
      </option>
    </select>
  </label>
  <p>
    <button
      (click)="handleRemoveItem($event, cartItem.product)"
      class="appearance-none mt-3 text-gray-400 focus:text-red-500 hover:text-red-500 text-sm"
      type="button"
    >
      <span i18n="remove-from-cart">Remove from cart</span>
    </button>
  </p>
  <p class="mt-4">
    <label>
      <strong i18n="price-label">Price:</strong>
      <input
        class="ml-2"
        disabled
        itemprop="price"
        [value]="calculatePrice(cartItem) | currency"
        type="text"
      />
    </label>
  </p>
</form>
<ng-template #elseBlock></ng-template>
