<h2 class="font-bold my-4 text-4xl text-center sm:text-left w-full">
  <span i18n="products">Products</span>
</h2>
<div
  class="grid gap-8 grid-cols-1 sm:grid-cols-2 2xl:grid-cols-3"
  data-testid="products"
>
  <div
    class="flex flex-col"
    data-testid="product"
    itemscope
    itemtype="https://schema.org/Product"
    *ngFor="let product of products"
  >
    <div
      class="bg-white flex flex-col lg:flex-row gap-4 h-full shadow-md rounded-3xl p-4"
    >
      <div class="flex-none lg:flex w-full lg:h-48 lg:w-48">
        <img
          alt="Product image"
          class="h-64 lg:h-full object-cover rounded-2xl w-full lg:w-64"
          i18n-alt="product-image"
          itemprop="image"
          [src]="product.thumbnail"
        />
      </div>
      <div class="flex flex-col justify-between h-full ml-3 py-2 w-full">
        <h3 class="flex flex-1 text-lg font-medium" itemprop="name">
          {{ formatProductTitle(product) }}
        </h3>
        <div class="flex py-4 items-center text-gray-500 text-sm">
          <i aria-hidden="true" class="material-icons mr-2">category</i>
          <p>{{ formatProductCategory(product) }}</p>
        </div>
        <div class="border-t border-gray-200 p-4 pb-2"></div>
        <div class="flex space-x-3 text-sm font-medium">
          <app-link-button [routerLink]="'/product/' + product.id">
            <span i18n="view-product">View product</span>
          </app-link-button>
        </div>
      </div>
    </div>
  </div>
</div>
