<h2 class="font-bold ml-4 my-4 text-4xl w-full">Products</h2>
<div class="grid gap-8 grid-cols-1 pl-4 sm:grid-cols-2 xl:grid-cols-2">
  <ng-container *ngFor="let product of products">
    <div class="flex flex-col" itemscope itemtype="https://schema.org/Product">
      <div class="bg-white shadow-md rounded-3xl p-4">
        <div class="flex-none lg:flex">
          <div class="h-full w-full lg:h-48 lg:w-48 lg:mb-0 mb-3">
            <img
              alt="Product image"
              class="w-full object-cover lg:object-cover lg:h-48 rounded-2xl"
              itemprop="image"
              [src]="product.thumbnail"
            />
          </div>
          <div class="flex-auto ml-3 justify-evenly py-2">
            <div class="flex flex-wrap">
              <h2 class="flex-auto text-lg font-medium">
                {{
                  product.brand +
                    " " +
                    product.title.replace(product.brand + " ", "")
                }}
              </h2>
            </div>
            <div class="flex py-4 text-sm text-gray-500">
              <div class="flex-1 inline-flex items-center">
                <i class="material-icons mr-2">category</i>
                <p class="">{{ product.category }}</p>
              </div>
            </div>
            <div class="flex p-4 pb-2 border-t border-gray-200"></div>
            <div class="flex space-x-3 text-sm font-medium">
              <a
                class="mb-2 md:mb-0 bg-gray-900 px-5 py-2 shadow-sm tracking-wider text-white rounded-full hover:bg-gray-800"
                [href]="'/product/' + product.id"
                [title]="product.title + ' details'"
              >
                View Product
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
