<article
  *ngIf="product; else elseBlock"
  itemscope
  itemtype="https://schema.org/Product"
>
  <p>
    <a class="flex items-center m-4" href="/products">
      <span class="material-icons">arrow_back_ios</span>
      Back to products
    </a>
  </p>
  <div
    class="flex flex-col px-4"
    itemscope
    itemtype="https://schema.org/Product"
  >
    <img
      alt="Product image"
      class="w-full object-cover lg:object-cover lg:h-48 rounded-2xl"
      itemprop="image"
      [src]="product.thumbnail"
    />
  </div>
  <div class="flex-auto ml-3 justify-evenly p-4">
    <div class="flex flex-wrap">
      <h2 class="flex-auto text-lg font-medium">
        {{
          product.brand + " " + product.title.replace(product.brand + " ", "")
        }}
      </h2>
    </div>
    <p class="text-gray-500 mt-2">{{ product.description }}</p>
    <div class="flex py-4 text-sm text-gray-500">
      <div class="flex-1 inline-flex items-center">
        <i class="material-icons mr-2" title="Category">category</i>
        <p class="">{{ product.category }}</p>
      </div>
    </div>
  </div>
</article>
<ng-template #elseBlock>
  <h2>Loading…</h2>
</ng-template>
