<article
  *ngIf="product; else elseBlock"
  itemscope
  itemtype="https://schema.org/Product"
>
  <p>
    <a class="flex items-center m-4" data-testid="back-link" href="/products">
      <i aria-hidden="true" class="material-icons">arrow_back_ios</i>
      <span i18n="back-to-products">Back to products</span>
    </a>
  </p>
  <div
    class="flex flex-col px-4"
    itemscope
    itemtype="https://schema.org/Product"
  >
    <img
      alt="Product image"
      class="w-full object-cover lg:object-cover lg:h-48 rounded-2xl"
      i18n-alt="product-image"
      itemprop="image"
      [src]="product.thumbnail"
    />
  </div>
  <div class="flex-auto ml-3 justify-evenly p-4">
    <div class="flex flex-wrap">
      <h2 class="flex-auto text-lg font-medium" itemprop="name">
        {{ formatProductTitle(product) }}
      </h2>
    </div>
    <p class="text-gray-500 mt-2">{{ product.description }}</p>
    <div class="flex py-4 text-sm text-gray-500">
      <div class="flex-1 inline-flex items-center">
        <i
          aria-hidden="true"
          class="material-icons mr-2"
          i18n="category"
          i18n-title="category-title"
          title="Category"
          >category</i
        >
        <p class="">{{ formatProductCategory(product) }}</p>
      </div>
    </div>
  </div>
</article>
<ng-template #elseBlock>
  <h2 i18n="loading">Loading…</h2>
</ng-template>
